
/* common CSS*/
#sidebar {
  background: #393437c7;
  color: #fff;
  z-index:2;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 25%;
  font-size: 14px;
  color: #fff;
  text-align: left;
}

.u-photo {
 text-align:center;
}

.u-photo img {
width: 80%;
height:280px;
}

.person-content {
color:#fff;
text-align: center;
}

.components {
text-align: center;
font-size: 1.2rem;

}

li a:hover {
text-decoration: underline;

}


.components li {
color:#fff;
margin-bottom: 30px;
}

.components li a {
    border: 2px solid #fff;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 700;
}

ul a  {
  display: inline-block;
}

#sidebar a {
text-decoration: none !important;
color: #fff !important;
}

.home-section {
  width: 100vw;
  height: 100vh;
  /*position: fixed;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url(./assets/background1.jpeg) center center no-repeat #bababa;
  background-size: auto;
  color: #fff;
  padding-left: 110px;
  padding-top: 130px;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  font-size: 12px;
}

.skills-set, .contact {
 margin-left: 30%;
}

.home-buttons a {
  border: 1px solid #000;
  padding: 10px 15px;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  box-shadow: 8px 5px 8px 5px black;
  font-weight: 700
}

.order-main .order {
  border-left: 1px solid #000;
  padding-left: 1.5rem;
} 

.timeline-date {
  color: #999;
  text-align: right;
  font-style: italic;
  line-height: 30px;
  border-right: 1px solid #ddd;
  width: 130px;

}

.timeline-date:after {
  content: " ";
  position: relative;
  top: -16px;
  right: -177px;
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgba(187,30,30,.8);
}

.skills-set li {
  margin-bottom: 10px;
}

.experience {
  margin-left: 25%;
}

.home-section-inner {
  margin-left: 25%;
}

.home-section-inner {
  margin-left: 30%;
}
.home-section-inner h1, .home-section-inner h2 {
  color: #1d1411;
  text-shadow: 2px 2px #bda287;
}

svg {
  height: 30px;
  width: 30px;
  padding-right:15px;
}


/* desktop */
@media screen and (min-width: 768px) {
  .mobile-bar {
    display: none;
  }

  .main-content {
    /*margin-left: 25%;*/
    color: #000;
    width: 100%;
  }
}

/* mobile */

@media screen and (max-width: 767px) {
  .main-content {
    color: #000;
  }
  .sidebar {
    width: 100% !important;
    position: relative !important;
  }

  .desktop-list {
    display: none;
  }

  .mobile-bar::before {
    content:'\2630';
    font-family: 'Astra';
    text-decoration: inherit;
    float: right;
    font-size: 2rem;
  }

  .person-avatar {
    width: 100%;
    text-align: center;
  }

  .person-avatar img {
    width: 180px;
    height: 150px;
  }

  .u-url .person-content {
    margin-top:1.5rem !important;
  }

  .mobile-bar {
    overflow:hidden;
  }

  .sidebar .mobile {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .home-section-inner h1, .home-section-inner h2 {
    display: none;
  }

  .home-section-inner {
    margin-left: 0;
  }

  .timeline-date {
    width: 100% !important;
    text-align: left !important;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .timeline-date:after {
    right: 12px !important;
  }

  .order-main .order {
    border-left: 0;
    padding: 0;
  }

  #toggleBar {
    display:none;
  }

  .experience, .skills-set, .contact {
    padding:20px;
    margin:0;
  }

  .home-section {
    padding-top: 5px;
    background-position: unset;
  }
  .order-main .row {
    margin: 0;
  }
}